<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- Android 12 trở xuống -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- Android 13 trở lên -->
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO" />
    <uses-permission android:name="android.permission.READ_MEDIA_AUDIO" />


    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.EasyBuy"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".view.User.ProductDetailActivity"
            android:exported="false" />
        <activity
            android:name=".view.Login.ForgotPW.PasswordResetSuccessActivity"
            android:exported="false" />
        <activity
            android:name=".view.Login.ForgotPW.SetNewPasswordActivity"
            android:exported="false" />
        <activity
            android:name=".view.Login.ForgotPW.CheckEmailActivity"
            android:exported="false" />
        <activity
            android:name=".view.Login.ForgotPW.ForgotPasswordActivity"
            android:exported="false" />
        <activity
            android:name=".view.Login.Admin.AdminSignUpActivity"
            android:exported="false" />
        <activity
            android:name=".view.Login.User.UserLoginActivity"
            android:exported="false" />
        <activity
            android:name=".view.Login.Admin.AdminLoginActivity"
            android:exported="false" />
        <activity
            android:name=".view.Admin.AdminMainActivity"
            android:exported="false" />
        <activity
            android:name=".view.User.UserMainActivity"
            android:exported="false" />
        <activity
            android:name=".view.Login.User.UserSignUpActivity"
            android:exported="false" />
        <activity
            android:name=".view.Admin.AddProductActivity"
            android:configChanges="orientation|screenSize|screenLayout|smallestScreenSize"
            android:launchMode="singleTop" />
        <activity
            android:name=".view.Login.WelcomeActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>